// Fonts
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
// Colors
$primary: #e4934c;
$secondary: #cc8c54;
$red: #7c142c;
$darkred: #542b29;
// Resets
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: 0;
  font-family: 'Aladin', cursive;
  outline: none;
  color: #78471a;
}
body {
  background: url('https://static.vecteezy.com/system/resources/previews/002/193/057/large_2x/wood-texture-background-free-vector.jpg') no-repeat center top;
}
// Imports
@import'./Header.scss';
@import'./Components.scss';
@import'./Login&Signup.scss';
@import'./Leaderboard.scss';
@import'./Menu.scss';
@import'./Profile.scss';
@import'./Shop&InventoryPage.scss';
@import'./Arena.scss';